// Place all the styles related to the setumei controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    width: 99%;
    height: 2000px;
    background-image: url("kabe.jpg");
    position:absolute
}

.A{
    width: 100%;
}
.a{
    height: 70vh;
}

.c{
    height: 28vh;
}
.main-box{
    display: flex;
    
}
.container-a{
    margin-left: 70px;
    margin-top: 100px;
    
}
.container-b{
    margin-left: 70px;
    margin-top: 3px;
    line-height: 8px;
    font-size: 14px;
}
.container-a2{
    margin-left: 59px;
    margin-top: 100px;
}
.container-b2{
    margin-left: 59px;
    margin-top: 3px;
    line-height: 8px;
    font-size: 14px;
} 
.container-c{
    margin-left: 72px;
    margin-top: 100px;
}
.container-d{
    margin-left: 72px;
    margin-top: 3px;
    line-height: 8px;
    font-size: 14px;
}
.container-c2{
    margin-left: 72px;
    margin-top: 40px;
}
.container-d2{
    margin-left: 72px;
    margin-top: 3px;
    line-height: 8px;
    font-size: 14px;
}
.line {
    margin-left: 60px;
    margin-top: 100px;
    width: 0.7px;
    height: 410px;
    background-color: #000;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.font_test {
    font-weight:  bold;
    font-size: 17px;
}



hr.style{
    border-top: 1px solid #000;
    margin-top: 70px;
    margin-left: 50px;
    width: 93%;
}



.main-box2{
    display: flex;
}
.midasi{
    font-weight:  bold;
    font-size: 34px;
}
.h{
    height: 85vh;
}
.container-e{
    margin-left: 70px;
    margin-top: 220px;
    line-height: 25px;
    font-size: 14px;
}
.container-f{
    margin-left: 70px;
    margin-top: 100px;
    line-height: 12px;
    font-size: 14px;
}
.container-g{
    margin-left: 70px;
    margin-top: 70px;
    line-height: 12px;
    font-size: 17px;
}
.p_underline{
    border-bottom:0.5px solid #000; 
    padding-bottom:15px;
}
.container-h{
    margin-left: 150px;
    margin-top: 130px;
}


hr.style2{
    border-top: 1px solid #000;
    margin-top: 180px;
    margin-left: 50px;
    width: 93%;
}

.main-box3{
    margin-left: 70px;
    margin-top: 60px;
    line-height: 12px;
    font-size: 14px;
}
.midasi2{
    font-weight:  bold;
    font-size: 20px;
}

.main-box4{
    display: flex;
}
.midasi3{
    font-weight:  bold;
    font-size: 34px;
}
.i{
    height: 130vh;
}
.container-i{
    margin-left: 70px;
    margin-top: 50px;
}
.container-j{
    margin-left: 70px;
    margin-top: 140px;
    line-height: 25px;
    font-size: 14px;
}
.container-k{
    margin-left: 70px;
    margin-top: 80px;
    line-height: 12px;
    font-size: 14px;
}
.container-l{
    margin-left: 70px;
    margin-top: 70px;
    line-height: 12px;
    font-size: 17px;
}
.p_underline2{
    border-bottom:0.5px solid #000; 
    padding-bottom:15px;
}



.main-box5{
    display: flex;
}
.midasi4{
    font-weight:  bold;
    font-size: 34px;
}
.p{
    height: 125vh;
}
.container-m{
    margin-left: 70px;
    margin-top: 260px;
    line-height: 25px;
    font-size: 14px;
}
.container-n{
    margin-left: 70px;
    margin-top: 100px;
    line-height: 12px;
    font-size: 14px;
}
.container-o{
    margin-left: 70px;
    margin-top: 100px;
    line-height: 12px;
    font-size: 17px;
}
.p_underline3{
    border-bottom:0.5px solid #000; 
    padding-bottom:15px;
}
.container-p{
    margin-left: 150px;
    margin-top: 170px;
}
hr.style3{
    border-top: 1px solid #000;
    margin-top: 180px;
    margin-left: 50px;
    width: 93%;
}



body2{
    height: 7000px;
}
.main-box6{
    display: flex;
}
.midasi5{
    font-weight:  bold;
    font-size: 34px;
}
.s{
    height: 80vh;
}
.ks{
    height: 70vh;
}
.as{
    height: 70vh;
}
.container-q{
    margin-left: 81px;
    margin-top: 40px;
    font-size: 58px;
}
.container-r{
    margin-left: 81px;
    margin-top: 180px;
    line-height: 24px;
    font-size: 15px;
}
.container-s{
    margin-left: 110px;
    margin-top: 0px;
}
.container-t{
    margin-left: 500px;
    margin-top: 14px;
    font-size: 13px;
}
.main-box7{
    display: flex;
}
.midasi6{
    font-weight:  bold;
    font-size: 40px;
}
.u{
    height: 103vh;
}
.au{
    height: 120vh;
}
.container-u{
    margin-left: 10px;
    margin-top: 150px;
}
.container-v{
    margin-left: 190px;
    margin-top: 210px;
    font-size: 48px;
}
.container-w{
    margin-left: 190px;
    margin-top: 25px;
    line-height: 16px;
    font-size: 14px;
}
.container-aw{
    margin-left: 170px;
    margin-top: 60px;
    line-height: 16px;
    font-size: 15px;
}
.main-box8{
    display: flex;
}
.z{
    height: 60vh;
}
.az{
    height: 118vh;
}
.container-z{
    margin-left: 120px;
    margin-top: 160px;
}
.container-az{
    margin-left: 200px;
    margin-top: 120px;
}
.container-x{
    margin-left: 81px;
    margin-top: 190px;
    font-size: 14px;
}
.container-ax{
    margin-left: 81px;
    margin-top: 220px;
    font-size: 14px;
}
.container-y{
    margin-left: 81px;
    margin-top: 25px;
    line-height: 16px;
    font-size: 14px;
}
.container-ay{
    margin-left: 81px;
    margin-top: 60px;
    line-height: 16px;
    font-size: 15px;
}
.main-box9{
    display: flex;
}
.aa{
    height: 85vh;
}
.aa-a{
    height: 65vh;
}
.aa-k{
    height: 69vh;
}
.container-aa{
    margin-left: 81px;
    margin-top: 160px;
}
.container-aa-a{
    margin-left: 10px;
    margin-top: 120px;
}
.container-aa-k{
    margin-left: 10px;
    margin-top: 10px;
}
.container-bb{
    margin-left: 170px;
    margin-top: 150px;
    font-size: 14px;
}
.container-abb{
    margin-left: 170px;
    margin-top: 240px;
    font-size: 14px;
}
.container-kbb{
    margin-left: 170px;
    margin-top: 100px;
    font-size: 14px;
}
.container-cc{
    margin-left: 170px;
    margin-top: 25px;
    line-height: 16px;
    font-size: 14px;
}
.container-acc{
    margin-left: 110px;
    margin-top: 190px;
    line-height: 16px;
    font-size: 15px;
}
.main-box10{
    display: flex;
}
.ff{
    height: 60vh;
}
.container-ff{
    margin-left: 120px;
    margin-top: 160px;
}
.kff{
    height: 110vh;
}
.container-kff{
    margin-left: 200px;
    margin-top: 150px;
}
.container-dd{
    margin-left: 81px;
    margin-top: 190px;
    font-size: 14px;
}
.container-ee{
    margin-left: 81px;
    margin-top: 25px;
    line-height: 16px;
    font-size: 14px;
}
.container-kdd{
    margin-left: 190px;
    margin-top: 150px;
    font-size: 14px;
}
.container-kee{
    margin-left: 190px;
    margin-top: 25px;
    line-height: 16px;
    font-size: 14px;
}
.main-box11{
    display: flex;
}
.gg{
    height: 60vh;
}
.kgg{
    height: 63vh;
}
.container-gg{
    margin-left: 81px;
    margin-top: 160px;
}
.container-hh{
    margin-left: 170px;
    margin-top: 190px;
    font-size: 14px;
}
.container-khh{
    margin-left: 170px;
    margin-top: 220px;
    font-size: 14px;
}
.container-ii{
    margin-left: 170px;
    margin-top: 25px;
    line-height: 16px;
    font-size: 14px;
}
.container-kii{
    margin-left: 170px;
    margin-top: 60px;
    line-height: 16px;
    font-size: 14px;
}
.main-box12{
    display: flex;
}
.ll{
    height: 50vh;
}
.container-ll{
    margin-left: 170px;
    margin-top: 160px;
}
.kll{
    height: 60vh;
}
.container-kll{
    margin-left: 120px;
    margin-top: 160px;
}
.container-jj{
    margin-left: 81px;
    margin-top: 190px;
    font-size: 14px;
}
.container-kk{
    margin-left: 81px;
    margin-top: 25px;
    line-height: 16px;
    font-size: 14px;
}
.container-kjj{
    margin-left: 190px;
    margin-top: 220px;
    font-size: 14px;
}
.container-kkk{
    margin-left: 190px;
    margin-top: 40px;
    line-height: 16px;
    font-size: 14px;
}
.main-box13{
    display: flex;
}
.mm{
    height: 55vh;
}
.container-mm{
    margin-left: 81px;
    margin-top: 160px;
}
.container-nn{
    margin-left: 170px;
    margin-top: 190px;
    font-size: 14px;
}
.container-oo{
    margin-left: 170px;
    margin-top: 25px;
    line-height: 16px;
    font-size: 14px;
}
.main-box14{
    display: flex;
}
.rr{
    height: 50vh;
}
.container-rr{
    margin-left: 120px;
    margin-top: 160px;
}
.container-pp{
    margin-left: 81px;
    margin-top: 160px;
    font-size: 14px;
}
.container-qq{
    margin-left: 81px;
    margin-top: 25px;
    line-height: 16px;
    font-size: 14px;
}
.main-box15{
    margin-left: 81px;
    margin-top: 25px;
    line-height: 16px;
    font-size: 14px;
}

.u9{ 
    text-align: center;
    margin-top: 110px;
    font-size: 26px;
    font-weight:  bold;
}
.u10{ 
    text-align: center;
    font-size: 20px;
    border-top: 1px solid #000;
    margin-right: auto;
    margin-left : auto;
    padding: 20px;
    width: 80%;
}
.main-box16{
    display: flex;
    width: 600px;
    margin-right: auto;
    margin-left : auto;
}
.main-box18{
    display: flex;
    margin-top: 10px;
    width: 600px;
    margin-right: auto;
    margin-left : auto;
}
.main-box17{
    width: 916px;
    margin-right: auto;
    margin-left : auto;
    height: 705px;
    background-image: url("korukoru2.jpg");
    position:relative
}
.u11{ 
    margin-top: 22px;
    line-height: 16px;
    font-size: 16px;
    width: 320px;
    margin-right: auto;
    margin-left : auto;
    height: auto;
    background-image: url("ao.jpg");
    position:relative
}
.u12{ 
    margin-top: 22px;
    line-height: 16px;
    font-size: 16px;
    width: 320px;
    margin-right: auto;
    margin-left : auto;
    height: auto;
    background-image: url("ki.jpg");
    position:relative
}
.u13{ 
    margin-top: 19px;
    line-height: 16px;
    font-size: 16px;
    width: 320px;
    margin-right: auto;
    margin-left : auto;
    height: auto;
    background-image: url("momo.jpg");
    position:relative
}
.u14{ 
    margin-top: 19px;
    line-height: 16px;
    font-size: 16px;
    width: 320px;
    margin-right: auto;
    margin-left : auto;
    height: auto;
    background-image: url("usuki.jpg");
    position:relative
}